@media screen and (max-width: 1400px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 1220px) {
  :root {
    font-size: 13px;
  }
}

@media screen and (max-width: 1050px) {
  :root {
    font-size: 11px;
  }
}

@media screen and (max-width: 980px) {
  :root {
    font-size: 20px;
  }

  .rocketvpn__content {
    margin-top: 2rem;
  }

  .rocketvpn-header {
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    height: 7rem;
  }

  .rocketvpn-header__nav_ref {
    font-size: 1.6rem;
  }

  .rocketvpn-header__login {
    margin-left: 0;
  }

  .rocketvpn-header__nav_container {
    align-items: flex-start;
    flex-direction: column-reverse;
    /* translate: 3rem 4rem; */
  }

  .rocketvpn-offer {
    font-size: 3rem;
  }

  .rocketvpn-offer h1 {
    line-height: 3.5rem;
  }

  .rocketvpn-offer__buttons {
    flex-direction: column;
    height: 12rem;
  }

  .rocketvpn-offer__btn.buy,
  .rocketvpn-offer__btn.try {
    width: 20rem;
  }

  .rocketvpn-plt-btns {
    width: 30rem;
  }

  .rocketvpn-plt-btns a {
    margin-top: 12rem;
  }

  .rocketvpn-plt__btn.mac,
  .rocketvpn-plt__btn.win,
  .rocketvpn-plt__btn.lin {
    visibility: hidden;
    width: 0px;
  }

  .phone_img {
    width: 31.5rem;
    height: 36.2rem;
    right: -11.8125rem;
    top: 40.2rem;
  }

  .unlim-devs {
    background: none;
    margin: 3rem auto 0 auto;
    width: 41.875rem;
    background-color: #f5f5f7;
    background-image: url("../media/devs_a.png");
    background-position: bottom right;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 1.25rem;
  }

  .unlim-devs > img {
    visibility: hidden;
    left: 0rem;
  }

  .seq-warranty {
    flex-direction: column;
    align-items: center;
    height: 100rem;
    width: 100%;
  }

  .seq-warranty__left-cont {
    height: 30rem;
    overflow: hidden;
  }

  .seq-warranty__left-cont img {
    bottom: -19rem;
  }

  .unlim-devs__txt,
  .seq-warranty__left-cont__txt,
  .seq-warranty__right-cont__txt,
  .seq-warranty__right-cont__txt {
    margin: 3rem 0 0 3rem;
    overflow: hidden;
  }

  .faq {
    margin: 6rem 1rem;
  }

  .faq-check:checked ~ .faq__question__txt {
    height: 20rem;
  }

  .shop__container {
    flex-direction: column;
    margin: 5rem 1rem 0 1rem;
    font-size: 1.2rem;
  }

  .shop__descript span {
    font-size: 1rem;
  }

  .shop__main-block {
    margin-top: 2rem;
  }

  .shop__cards-list {
    width: 100%;
    justify-content: center;
    --card-width: 27rem;
    --card-height: 27rem;
  }

  .shop__card {
    padding: 1rem;
  }

  .shop__groups-list {
    padding-top: 0.625rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    max-height: 20.3125rem;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .shop__card > h1 {
    font-size: 1.5rem;
  }

  .shop__characteristics > div {
    font-size: 1.1rem;
  }

  .shop__price :first-child {
    font-size: 1.6rem;
  }

  .shop__price__add-to-cart {
    width: 10rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }

  .feedbacks__main-block {
    flex-direction: column;
  }
}

@media screen and (max-width: 840px) {
  :root {
    font-size: 14px;
  }

  .rocketvpn__content {
    margin-top: 2rem;
  }

  .rocketvpn-header {
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    height: 7rem;
  }

  .rocketvpn-header__nav_ref {
    font-size: 1.6rem;
  }

  .rocketvpn-header__login {
    margin-left: 0;
  }

  .rocketvpn-header__nav_container {
    align-items: flex-start;
    flex-direction: column-reverse;
    /* translate: 3rem 4rem; */
  }

  .rocketvpn-offer {
    font-size: 3rem;
  }

  .rocketvpn-offer h1 {
    line-height: 3.5rem;
  }

  .rocketvpn-offer__buttons {
    flex-direction: column;
    height: 12rem;
  }

  .rocketvpn-offer__btn.buy,
  .rocketvpn-offer__btn.try {
    width: 20rem;
  }

  .rocketvpn-plt-btns {
    width: 30rem;
  }

  .rocketvpn-plt-btns a {
    margin-top: 12rem;
  }

  .rocketvpn-plt__btn.mac,
  .rocketvpn-plt__btn.win,
  .rocketvpn-plt__btn.lin {
    visibility: hidden;
    width: 0px;
  }

  .phone_img {
    width: 31.5rem;
    height: 36.2rem;
    right: -11.8125rem;
    top: 40.2rem;
  }

  .unlim-devs {
    background: none;
    margin: 3rem auto 0 auto;
    width: 41.875rem;
    background-color: #f5f5f7;
    background-image: url("../media/devs_a.png");
    background-position: bottom right;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 1.25rem;
  }

  .unlim-devs > img {
    visibility: hidden;
    left: 0rem;
  }

  .seq-warranty {
    flex-direction: column;
    align-items: center;
    height: 100rem;
    width: 100%;
  }

  .seq-warranty__left-cont {
    height: 30rem;
    overflow: hidden;
  }

  .seq-warranty__left-cont img {
    bottom: -19rem;
    /* opacity: 0.9; */
  }

  .unlim-devs__txt,
  .seq-warranty__left-cont__txt,
  .seq-warranty__right-cont__txt,
  .seq-warranty__right-cont__txt {
    margin: 3rem 0 0 3rem;
    overflow: hidden;
  }

  .faq {
    margin: 6rem 1rem;
  }

  .faq-check:checked ~ .faq__question__txt {
    height: 20rem;
  }

  .shop__container {
    flex-direction: column;
    margin: 5rem 1rem 0 1rem;
    font-size: 1.2rem;
  }

  .shop__descript span {
    font-size: 1rem;
  }

  .shop__main-block {
    margin-top: 2rem;
  }

  .shop__cards-list {
    width: 100%;
    justify-content: center;
    --card-width: 24rem;
    --card-height: 28rem;
  }

  .shop__card {
    padding: 1rem;
  }

  .shop__groups-list {
    padding-top: 0.625rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    max-height: 20.3125rem;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .shop__card > h1 {
    font-size: 1.5rem;
  }

  .shop__characteristics > div {
    font-size: 1.1rem;
  }

  .shop__price :first-child {
    font-size: 1.6rem;
  }

  .shop__price__add-to-cart {
    width: 10rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }

  .feedbacks__main-block {
    flex-direction: column;
  }
}

@media screen and (max-width: 545px) {
  :root {
    font-size: 8px;
  }

  .rocketvpn__content {
    margin-top: 2rem;
  }

  .rocketvpn-header {
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    height: 7rem;
  }

  .rocketvpn-header__nav_ref {
    font-size: 1.6rem;
  }

  .rocketvpn-header__login {
    margin-left: 0;
  }

  .rocketvpn-header__nav_container {
    align-items: flex-start;
    flex-direction: column-reverse;
    /* translate: 3rem 4rem; */
  }

  .rocketvpn-offer {
    font-size: 3rem;
  }

  .rocketvpn-offer h1 {
    line-height: 3.5rem;
  }

  .rocketvpn-offer__buttons {
    flex-direction: column;
    height: 12rem;
  }

  .rocketvpn-offer__btn.buy,
  .rocketvpn-offer__btn.try {
    width: 20rem;
  }

  .rocketvpn-plt-btns {
    width: 30rem;
  }

  .rocketvpn-plt-btns a {
    margin-top: 12rem;
  }

  .rocketvpn-plt__btn.mac,
  .rocketvpn-plt__btn.win,
  .rocketvpn-plt__btn.lin {
    visibility: hidden;
    width: 0px;
  }

  .phone_img {
    width: 31.5rem;
    height: 36.2rem;
    right: -11.8125rem;
    top: 40.2rem;
  }

  .unlim-devs {
    background: none;
    margin: 3rem auto 0 auto;
    width: 41.875rem;
    background-color: #f5f5f7;
    background-image: url("../media/devs_a.png");
    background-position: bottom right;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 1.25rem;
  }

  .unlim-devs > img {
    visibility: hidden;
    left: 0rem;
  }

  .seq-warranty {
    flex-direction: column;
    align-items: center;
    height: 100rem;
    width: 100%;
  }

  .seq-warranty__left-cont {
    height: 30rem;
    overflow: hidden;
  }

  .seq-warranty__left-cont img {
    bottom: -19rem;
    /* opacity: 0.9; */
  }

  .unlim-devs__txt,
  .seq-warranty__left-cont__txt,
  .seq-warranty__right-cont__txt,
  .seq-warranty__right-cont__txt {
    margin: 3rem 0 0 3rem;
    overflow: hidden;
  }

  .faq {
    margin: 6rem 1rem;
  }

  .faq-check:checked ~ .faq__question__txt {
    height: 20rem;
  }

  .shop__container {
    flex-direction: column;
    margin: 5rem 1rem 0 1rem;
    font-size: 1.2rem;
  }

  .shop__descript span {
    font-size: 1rem;
  }

  .shop__main-block {
    margin-top: 2rem;
  }

  .shop__cards-list {
    width: 100%;
    justify-content: center;
    --card-width: 28rem;
    --card-height: 27rem;
  }

  .shop__card {
    padding: 1rem;
  }

  .shop__groups-list {
    padding-top: 0.625rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    max-height: 20.3125rem;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .shop__card > h1 {
    font-size: 1.5rem;
  }

  .shop__characteristics > div {
    font-size: 1.1rem;
  }

  .shop__price :first-child {
    font-size: 1.6rem;
  }

  .shop__price__add-to-cart {
    width: 10rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }

  .feedbacks__main-block {
    flex-direction: column;
  }
}

@media screen and (max-width: 380px) {
  :root {
    font-size: 8px;
  }

  .rocketvpn__content {
    margin-top: 2rem;
  }

  .rocketvpn-header {
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
    height: 7rem;
  }

  .rocketvpn-header__nav_ref {
    font-size: 1.6rem;
  }

  .rocketvpn-header__login {
    margin-left: 0;
  }

  .rocketvpn-header__nav_container {
    align-items: flex-start;
    flex-direction: column-reverse;
    /* translate: 3rem 4rem; */
  }

  .rocketvpn-offer {
    font-size: 3rem;
  }

  .rocketvpn-offer h1 {
    line-height: 3.5rem;
  }

  .rocketvpn-offer__buttons {
    flex-direction: column;
    height: 12rem;
  }

  .rocketvpn-offer__btn.buy,
  .rocketvpn-offer__btn.try {
    width: 20rem;
  }

  .rocketvpn-plt-btns {
    width: 30rem;
  }

  .rocketvpn-plt-btns a {
    margin-top: 12rem;
  }

  .rocketvpn-plt__btn.mac,
  .rocketvpn-plt__btn.win,
  .rocketvpn-plt__btn.lin {
    visibility: hidden;
    width: 0px;
  }

  .phone_img {
    width: 31.5rem;
    height: 36.2rem;
    right: -11.8125rem;
    top: 40.2rem;
  }

  .unlim-devs {
    background: none;
    margin: 3rem auto 0 auto;
    width: 41.875rem;
    background-color: #f5f5f7;
    background-image: url("../media/devs_a.png");
    background-position: bottom right;
    background-size: 80%;
    background-repeat: no-repeat;
    border-radius: 1.25rem;
  }

  .unlim-devs > img {
    visibility: hidden;
    left: 0rem;
  }

  .seq-warranty {
    flex-direction: column;
    align-items: center;
    height: 100rem;
    width: 100%;
  }

  .seq-warranty__left-cont {
    height: 30rem;
    overflow: hidden;
  }

  .seq-warranty__left-cont img {
    bottom: -19rem;
    /* opacity: 0.9; */
  }

  .unlim-devs__txt,
  .seq-warranty__left-cont__txt,
  .seq-warranty__right-cont__txt,
  .seq-warranty__right-cont__txt {
    margin: 3rem 0 0 3rem;
    overflow: hidden;
  }

  .faq {
    margin: 6rem 1rem;
  }

  .faq-check:checked ~ .faq__question__txt {
    height: 20rem;
  }

  .shop__container {
    flex-direction: column;
    margin: 5rem 1rem 0 1rem;
    font-size: 1.2rem;
  }

  .shop__descript span {
    font-size: 1rem;
  }

  .shop__main-block {
    margin-top: 2rem;
  }

  .shop__cards-list {
    width: 100%;
    justify-content: center;
    --card-width: 30rem;
    --card-height: 27rem;
  }

  .shop__card {
    padding: 1rem;
  }

  .shop__groups-list {
    padding-top: 0.625rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    max-height: 20.3125rem;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .shop__card > h1 {
    font-size: 1.5rem;
  }

  .shop__characteristics > div {
    font-size: 1.1rem;
  }

  .shop__price :first-child {
    font-size: 1.6rem;
  }

  .shop__price__add-to-cart {
    width: 10rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }

  .feedbacks__main-block {
    flex-direction: column;
  }
}
